@media screen and (min-width: 40em){
    #movies-list{
        grid-template-columns: repeat(4, 1fr);
    }

    #top-three-movies{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}