@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');@import url('./reset.css');
@import url('./mobile.css');
@import url('./desktop.css');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;}

body {
    direction: rtl;
}

.grid {
    display: grid;
}

.text-center{
    text-align: center;
}



