@import url('./reset.css');

.table {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-top:2em;
}

.table,
.table tr,
.table td,
.table th {
    border: 1px solid #000;
    border-collapse: collapse;
}

.table thead tr:nth-child(1){
    background-color: hsla(192, 74%, 71%, 0.822);
}