@media screen and (min-width: 600px) {

    #header nav ul {
        padding: 0;
        margin: 0;
        list-style: none;

        display: initial;
        text-align: center;
    }

    #header nav ul li {
        display: inline-block;
        margin-inline: 1em;
    }

    .toys-holder {
        grid-template-columns: repeat(4, 1fr);
    }
    
}