.grid {
  display: grid;
}

.notes-container {
  grid-template-columns: repeat(4, 25%);
  gap: 15px;
  justify-content: space-between;
  
}

.note {
  border: 1px solid black;
  overflow: auto;
  padding-inline: 15px;
}